---
import { SITE_TITLE, SITE_EMAIL, SITE_NAME, SITE_QQ } from "../consts";

const { theme } = Astro.props;
const date = new Date();
const year = date.getFullYear();
---

<div class:list={["footer-main", { "footer-dark": theme === "dark" }]}>
  <div class="content-body footer-wraper">
    <div class="footer-box">
      <div class="foot-nav">
        <div class="foot-nav-items">
          <div class="item">
            <div class="logo">{SITE_TITLE}</div>
            <div class="email">Email: {SITE_EMAIL}</div>
            <div class="email">QQ：{SITE_QQ}</div>
          </div>

          <div class="item resources">
            <div class="item-title">本站模板</div>
            <a href="https://yufengbiji.com" target="_blank">驭风笔记</a>
          </div>

          <div class="item resources">
            <div class="item-title">订阅与检索</div>
            <a href="/rss.xml" target="_blank">RSS 订阅</a>
            <a href="/search">站内搜索</a>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="copyright">
          &copy; {`${year} ${SITE_NAME}`}
        </div>
      </div>
    </div>
  </div>
</div>
